<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lyl.bluetoothutils">
    <!--蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!--蓝牙6.0之后需要添加定位权限才可以使用ble -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>
